# Pandas

One dimensional ndarray with axis labels

#### Installation

In [ ]:
! pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

#### Import the library

In [6]:
import pandas as pd
import numpy as np

#### Convert a list to Series

In [7]:
my_pets = ['Lion','Cat','Birds','Fish']
pd.Series(my_pets)

0     Lion
1      Cat
2    Birds
3     Fish
dtype: object

#### Add index to series

* Length of index list should be equal to length of values in series

In [8]:
my_days = ['Monday','Tuesday','Wednesday','Thursday','Friday']
my_courses = ['Economics','Geography','Finance','Mathametics','History']
pd.Series(my_courses,index=my_days)

Monday         Economics
Tuesday        Geography
Wednesday        Finance
Thursday     Mathametics
Friday           History
dtype: object

In [9]:
days = pd.Series(my_days,index="Day1 Day2 Day3 Day4 Day5".split())
courses = pd.Series(my_courses,index="Day1 Day2 Day3 Day4 Day5".split())

In [10]:
courses['Day5']

'History'

In [11]:
days + ':' + courses

Day1        Monday:Economics
Day2       Tuesday:Geography
Day3       Wednesday:Finance
Day4    Thursday:Mathametics
Day5          Friday:History
dtype: object

#### Series From Dictionary

In [12]:
sports ={'Football':'Spain','NBA':'USA','Cricket':'India'}
sports_series = pd.Series(sports)
sports_series

Football    Spain
NBA           USA
Cricket     India
dtype: object

#### Find value at location by index label

In [13]:
sports_series.loc['Cricket']

'India'

#### Find Value at location by index number

In [14]:
sports_series.iloc[2]

'India'

#### DataFrame

Two-Dimensional, size-mutable, potentially heterogenous tabular data

#### Create a dataframe from random numbers array

In [17]:
my_dataframe = pd.DataFrame(np.random.randn(10,5),index='row1 row2 row3 row4 row5 row6 row7 row8 row9 row10'.split(),columns='column1 column2 column3 column4 column5'.split())
my_dataframe

        column1   column2   column3   column4   column5
row1  -0.992725  0.378940 -0.761157  0.131400  1.747096
row2   0.262640 -0.044810 -0.729862 -0.254544 -0.629088
row3   0.624143 -1.150431  0.566511 -1.084308 -1.095394
row4  -0.538843  0.381073  1.296491 -0.691343 -0.359354
row5   2.366609  2.768784  1.004388  1.002385  0.772846
row6   2.099128  0.281619  0.833840 -1.273973  0.134857
row7  -0.137094  1.370335  0.794805 -0.906736 -1.194450
row8  -0.070190 -0.943174 -0.559520  1.150110 -0.054301
row9  -0.173464 -0.838828 -1.047813  1.230543  0.124050
row10  0.147943 -0.426548 -0.141836  0.735412  0.118755

#### Selecting a single column

In [19]:
my_dataframe['column1']

row1    -0.992725
row2     0.262640
row3     0.624143
row4    -0.538843
row5     2.366609
row6     2.099128
row7    -0.137094
row8    -0.070190
row9    -0.173464
row10    0.147943
Name: column1, dtype: float64

#### Add a new column

In [20]:
my_dataframe['column6']=my_dataframe['column1']*2
my_dataframe

        column1   column2   column3   column4   column5   column6
row1  -0.992725  0.378940 -0.761157  0.131400  1.747096 -1.985449
row2   0.262640 -0.044810 -0.729862 -0.254544 -0.629088  0.525280
row3   0.624143 -1.150431  0.566511 -1.084308 -1.095394  1.248286
row4  -0.538843  0.381073  1.296491 -0.691343 -0.359354 -1.077686
row5   2.366609  2.768784  1.004388  1.002385  0.772846  4.733218
row6   2.099128  0.281619  0.833840 -1.273973  0.134857  4.198255
row7  -0.137094  1.370335  0.794805 -0.906736 -1.194450 -0.274189
row8  -0.070190 -0.943174 -0.559520  1.150110 -0.054301 -0.140380
row9  -0.173464 -0.838828 -1.047813  1.230543  0.124050 -0.346927
row10  0.147943 -0.426548 -0.141836  0.735412  0.118755  0.295886

#### Drop a column

In [21]:
my_dataframe.drop('column4',axis=1)

        column1   column2   column3   column5   column6
row1  -0.992725  0.378940 -0.761157  1.747096 -1.985449
row2   0.262640 -0.044810 -0.729862 -0.629088  0.525280
row3   0.624143 -1.150431  0.566511 -1.095394  1.248286
row4  -0.538843  0.381073  1.296491 -0.359354 -1.077686
row5   2.366609  2.768784  1.004388  0.772846  4.733218
row6   2.099128  0.281619  0.833840  0.134857  4.198255
row7  -0.137094  1.370335  0.794805 -1.194450 -0.274189
row8  -0.070190 -0.943174 -0.559520 -0.054301 -0.140380
row9  -0.173464 -0.838828 -1.047813  0.124050 -0.346927
row10  0.147943 -0.426548 -0.141836  0.118755  0.295886

In [22]:
my_dataframe

        column1   column2   column3   column4   column5   column6
row1  -0.992725  0.378940 -0.761157  0.131400  1.747096 -1.985449
row2   0.262640 -0.044810 -0.729862 -0.254544 -0.629088  0.525280
row3   0.624143 -1.150431  0.566511 -1.084308 -1.095394  1.248286
row4  -0.538843  0.381073  1.296491 -0.691343 -0.359354 -1.077686
row5   2.366609  2.768784  1.004388  1.002385  0.772846  4.733218
row6   2.099128  0.281619  0.833840 -1.273973  0.134857  4.198255
row7  -0.137094  1.370335  0.794805 -0.906736 -1.194450 -0.274189
row8  -0.070190 -0.943174 -0.559520  1.150110 -0.054301 -0.140380
row9  -0.173464 -0.838828 -1.047813  1.230543  0.124050 -0.346927
row10  0.147943 -0.426548 -0.141836  0.735412  0.118755  0.295886

#### Drop from orignal data

In [23]:
my_dataframe.drop('column4',axis=1,inplace=True)
my_dataframe

        column1   column2   column3   column5   column6
row1  -0.992725  0.378940 -0.761157  1.747096 -1.985449
row2   0.262640 -0.044810 -0.729862 -0.629088  0.525280
row3   0.624143 -1.150431  0.566511 -1.095394  1.248286
row4  -0.538843  0.381073  1.296491 -0.359354 -1.077686
row5   2.366609  2.768784  1.004388  0.772846  4.733218
row6   2.099128  0.281619  0.833840  0.134857  4.198255
row7  -0.137094  1.370335  0.794805 -1.194450 -0.274189
row8  -0.070190 -0.943174 -0.559520 -0.054301 -0.140380
row9  -0.173464 -0.838828 -1.047813  0.124050 -0.346927
row10  0.147943 -0.426548 -0.141836  0.118755  0.295886

#### Use index to access row

In [24]:
my_dataframe.iloc[1]

column1    0.262640
column2   -0.044810
column3   -0.729862
column5   -0.629088
column6    0.525280
Name: row2, dtype: float64

#### Fnd a value using row and column index

In [25]:
my_dataframe.loc['row7','column2']

1.3703353720835114

In [26]:
my_dataframe.index

Index(['row1', 'row2', 'row3', 'row4', 'row5', 'row6', 'row7', 'row8', 'row9',
       'row10'],
      dtype='object')

#### Add Series to DataFrame

In [27]:
my_dataframe['spin']=['sp1','sp2','sp3','sp4','sp5','sp6','sp7','sp8','sp9','sp10']
my_dataframe

        column1   column2   column3   column5   column6  spin
row1  -0.992725  0.378940 -0.761157  1.747096 -1.985449   sp1
row2   0.262640 -0.044810 -0.729862 -0.629088  0.525280   sp2
row3   0.624143 -1.150431  0.566511 -1.095394  1.248286   sp3
row4  -0.538843  0.381073  1.296491 -0.359354 -1.077686   sp4
row5   2.366609  2.768784  1.004388  0.772846  4.733218   sp5
row6   2.099128  0.281619  0.833840  0.134857  4.198255   sp6
row7  -0.137094  1.370335  0.794805 -1.194450 -0.274189   sp7
row8  -0.070190 -0.943174 -0.559520 -0.054301 -0.140380   sp8
row9  -0.173464 -0.838828 -1.047813  0.124050 -0.346927   sp9
row10  0.147943 -0.426548 -0.141836  0.118755  0.295886  sp10

#### Rename the columns

In [33]:

my_dataframe.rename(columns={
    'column1':'first',
    'column2':'second',
    'column3':'third',
    'column5':'fifth',
    'column6':'sixth',
    },inplace=True)
my_dataframe

         first    second     third     fifth     sixth
spin
sp1  -0.992725  0.378940 -0.761157  1.747096 -1.985449
sp2   0.262640 -0.044810 -0.729862 -0.629088  0.525280
sp3   0.624143 -1.150431  0.566511 -1.095394  1.248286
sp4  -0.538843  0.381073  1.296491 -0.359354 -1.077686
sp5   2.366609  2.768784  1.004388  0.772846  4.733218
sp6   2.099128  0.281619  0.833840  0.134857  4.198255
sp7  -0.137094  1.370335  0.794805 -1.194450 -0.274189
sp8  -0.070190 -0.943174 -0.559520 -0.054301 -0.140380
sp9  -0.173464 -0.838828 -1.047813  0.124050 -0.346927
sp10  0.147943 -0.426548 -0.141836  0.118755  0.295886

#### Read a csv file

In [38]:
data = pd.read_csv('Automobile.csv')
data

     symboling  normalized_losses         make  ... city_mpg highway_mpg  price
0            3                168  alfa-romero  ...       21          27  13495
1            3                168  alfa-romero  ...       21          27  16500
2            1                168  alfa-romero  ...       19          26  16500
3            2                164         audi  ...       24          30  13950
4            2                164         audi  ...       18          22  17450
..         ...                ...          ...  ...      ...         ...    ...
196         -1                 95        volvo  ...       23          28  16845
197         -1                 95        volvo  ...       19          25  19045
198         -1                 95        volvo  ...       18          23  21485
199         -1                 95        volvo  ...       26          27  22470
200         -1                 95        volvo  ...       19          25  22625

[201 rows x 26 columns]

#### Description of data inside DataFrame

In [39]:
data.describe()

        symboling  normalized_losses  ...  highway_mpg         price
count  201.000000         201.000000  ...   201.000000    201.000000
mean     0.840796         125.189055  ...    30.686567  13207.129353
std      1.254802          33.572966  ...     6.815150   7947.066342
min     -2.000000          65.000000  ...    16.000000   5118.000000
25%      0.000000         101.000000  ...    25.000000   7775.000000
50%      1.000000         122.000000  ...    30.000000  10295.000000
75%      2.000000         150.000000  ...    34.000000  16500.000000
max      3.000000         256.000000  ...    54.000000  45400.000000

[8 rows x 16 columns]

#### Information on DataFrame

provides inferred data types

In [40]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   symboling            201 non-null    int64
 1   normalized_losses    201 non-null    int64
 2   make                 201 non-null    object
 3   fuel_type            201 non-null    object
 4   aspiration           201 non-null    object
 5   number_of_doors      201 non-null    object
 6   body_style           201 non-null    object
 7   drive_wheels         201 non-null    object
 8   engine_location      201 non-null    object
 9   wheel_base           201 non-null    float64
 10  length               201 non-null    float64
 11  width                201 non-null    float64
 12  height               201 non-null    float64
 13  curb_weight          201 non-null    int64
 14  engine_type          201 non-null    object
 15  number_of_cylinders  201 non-null    object
 16  engine_size          201 non-null    int64
 17  fuel_system          201 non-null    object
 18  bore                 201 non-null    float64
 19  stroke               201 non-null    float64
 20  compression_ratio    201 non-null    float64
 21  horsepower           201 non-null    int64
 22  peak_rpm             201 non-null    int64
 23  city_mpg             201 non-null    int64
 24  highway_mpg          201 non-null    int64
 25  price                201 non-null    int64
dtypes: float64(7), int64(9), object(10)
memory usage: 41.0+ KB

#### Selecting a column

In [41]:
data['make']

0      alfa-romero
1      alfa-romero
2      alfa-romero
3             audi
4             audi
          ...
196          volvo
197          volvo
198          volvo
199          volvo
200          volvo
Name: make, Length: 201, dtype: object

#### Indexes on dataset

In [42]:
data.index

RangeIndex(start=0, stop=201, step=1)

#### Find Null Values

In [43]:
data.isnull()

     symboling  normalized_losses   make  ...  city_mpg  highway_mpg  price
0        False              False  False  ...     False        False  False
1        False              False  False  ...     False        False  False
2        False              False  False  ...     False        False  False
3        False              False  False  ...     False        False  False
4        False              False  False  ...     False        False  False
..         ...                ...    ...  ...       ...          ...    ...
196      False              False  False  ...     False        False  False
197      False              False  False  ...     False        False  False
198      False              False  False  ...     False        False  False
199      False              False  False  ...     False        False  False
200      False              False  False  ...     False        False  False

[201 rows x 26 columns]

In [44]:
data.isnull().sum()

symboling              0
normalized_losses      0
make                   0
fuel_type              0
aspiration             0
number_of_doors        0
body_style             0
drive_wheels           0
engine_location        0
wheel_base             0
length                 0
width                  0
height                 0
curb_weight            0
engine_type            0
number_of_cylinders    0
engine_size            0
fuel_system            0
bore                   0
stroke                 0
compression_ratio      0
horsepower             0
peak_rpm               0
city_mpg               0
highway_mpg            0
price                  0
dtype: int64

#### Find the percentile (quartile) values for DataFrame

In [45]:
data.describe().T

                   count          mean  ...       75%       max
symboling          201.0      0.840796  ...      2.00      3.00
normalized_losses  201.0    125.189055  ...    150.00    256.00
wheel_base         201.0     98.797015  ...    102.40    120.90
length             201.0    174.200995  ...    183.50    208.10
width              201.0     65.889055  ...     66.60     72.00
height             201.0     53.766667  ...     55.50     59.80
curb_weight        201.0   2555.666667  ...   2926.00   4066.00
engine_size        201.0    126.875622  ...    141.00    326.00
bore               201.0      3.329701  ...      3.58      3.94
stroke             201.0      3.261741  ...      3.46      4.17
compression_ratio  201.0     10.164279  ...      9.40     23.00
horsepower         201.0    103.263682  ...    116.00    262.00
peak_rpm           201.0   5121.393035  ...   5500.00   6600.00
city_mpg           201.0     25.179104  ...     30.00     49.00
highway_mpg        201.0     30.686567  ...     34.00     54.00
price              201.0  13207.129353  ...  16500.00  45400.00

[16 rows x 8 columns]

#### Conditional Query and display selectd columns

In [57]:
data[data['price']>20000][['make','price']]

              make  price
8             audi  23875
11             bmw  20970
12             bmw  21105
13             bmw  24565
14             bmw  30760
15             bmw  41315
16             bmw  36880
44          jaguar  32250
45          jaguar  35550
46          jaguar  36000
64   mercedes-benz  25552
65   mercedes-benz  28248
66   mercedes-benz  28176
67   mercedes-benz  31600
68   mercedes-benz  34184
69   mercedes-benz  35056
70   mercedes-benz  40960
71   mercedes-benz  45400
122        porsche  22018
123        porsche  32528
124        porsche  34028
125        porsche  37028
198          volvo  21485
199          volvo  22470
200          volvo  22625

#### Multiple coditions for filtering

In [58]:
data[(data['make']=='volvo')&(data['price']<50000)]

     symboling  normalized_losses   make  ... city_mpg highway_mpg  price
190         -2                103  volvo  ...       23          28  12940
191         -1                 74  volvo  ...       23          28  13415
192         -2                103  volvo  ...       24          28  15985
193         -1                 74  volvo  ...       24          28  16515
194         -2                103  volvo  ...       17          22  18420
195         -1                 74  volvo  ...       17          22  18950
196         -1                 95  volvo  ...       23          28  16845
197         -1                 95  volvo  ...       19          25  19045
198         -1                 95  volvo  ...       18          23  21485
199         -1                 95  volvo  ...       26          27  22470
200         -1                 95  volvo  ...       19          25  22625

[11 rows x 26 columns]

In [50]:
data[(data['make']=='volvo')&(data['price']<50000)][['make','price']]

      make  price
190  volvo  12940
191  volvo  13415
192  volvo  15985
193  volvo  16515
194  volvo  18420
195  volvo  18950
196  volvo  16845
197  volvo  19045
198  volvo  21485
199  volvo  22470
200  volvo  22625

#### Dealing with null values in data

In [51]:
df = pd.DataFrame({'value1':[100,np.nan,234,np.nan],
                   'value2':[300,121,np.nan,np.nan],
                   'value3':['XUI','VYU','NMA','IUY']})
df.head()

   value1  value2 value3
0   100.0   300.0    XUI
1     NaN   121.0    VYU
2   234.0     NaN    NMA
3     NaN     NaN    IUY

In [52]:
df.isnull()

   value1  value2  value3
0   False   False   False
1    True   False   False
2   False    True   False
3    True    True   False

In [53]:
df.isna()

   value1  value2  value3
0   False   False   False
1    True   False   False
2   False    True   False
3    True    True   False

In [54]:
df.isna().sum()

value1    2
value2    2
value3    0
dtype: int64

#### Filling null values with mean

In [56]:
df.fillna(df.mean(),inplace=True)
df

   value1  value2 value3
0   100.0   300.0    XUI
1   167.0   121.0    VYU
2   234.0   210.5    NMA
3   167.0   210.5    IUY

#### Sorting

In [60]:
df.sort_values(by='value2',ascending=True)

   value1  value2 value3
1   167.0   121.0    VYU
2   234.0   210.5    NMA
3   167.0   210.5    IUY
0   100.0   300.0    XUI

In [63]:
data.sort_values(by='price',ascending=False).head()

     symboling  normalized_losses           make  ... city_mpg highway_mpg  price
71           1                140  mercedes-benz  ...       14          16  45400
15           0                149            bmw  ...       16          22  41315
70           0                140  mercedes-benz  ...       14          16  40960
125          3                128        porsche  ...       17          25  37028
16           0                149            bmw  ...       15          20  36880

[5 rows x 26 columns]

#### Group By and Count

In [65]:
data['make'].value_counts()

toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
subaru           12
volkswagen       12
volvo            11
peugot           11
dodge             9
bmw               8
mercedes-benz     8
plymouth          7
saab              6
audi              6
porsche           4
jaguar            3
alfa-romero       3
chevrolet         3
renault           2
isuzu             2
mercury           1
Name: make, dtype: int64