# Pandas

One dimensional ndarray with axis labels

#### Installation

In [ ]:
! pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

#### Import the library

In [2]:
import pandas as pd

#### Convert a list to Series

In [5]:
my_pets = ['Lion','Cat','Birds','Fish']
pd.Series(my_pets)

0     Lion
1      Cat
2    Birds
3     Fish
dtype: object

#### Add index to series

* Length of index list should be equal to length of values in series

In [8]:
my_days = ['Monday','Tuesday','Wednesday','Thursday','Friday']
my_courses = ['Economics','Geography','Finance','Mathametics','History']
pd.Series(my_courses,index=my_days)

Monday         Economics
Tuesday        Geography
Wednesday        Finance
Thursday     Mathametics
Friday           History
dtype: object

In [10]:
days = pd.Series(my_days,index="Day1 Day2 Day3 Day4 Day5".split())
courses = pd.Series(my_courses,index="Day1 Day2 Day3 Day4 Day5".split())

In [13]:
courses['Day5']

'History'

In [14]:
days + ':' + courses

Day1        Monday:Economics
Day2       Tuesday:Geography
Day3       Wednesday:Finance
Day4    Thursday:Mathametics
Day5          Friday:History
dtype: object

#### Series From Dictionary

In [3]:
sports ={'Football':'Spain','NBA':'USA','Cricket':'India'}
sports_series = pd.Series(sports)
sports_series

Football    Spain
NBA           USA
Cricket     India
dtype: object

#### Find value at location by index label

In [4]:
sports_series.loc['Cricket']

'India'

#### Find Value at location by index number

In [5]:
sports_series.iloc[2]

'India'